numpy==1.22.0
psutil==5.8.0
pre-commit==2.13
pytest==6.2.4
pytest-cov==2.12.1
sphinx==3.5.4
sphinx-autodoc-typehints==1.12.0
sphinx-book-theme==0.0.42
scipy==1.7.2
tqdm
p_tqdm
matplotlib
coloredlogs
gym
ray[rllib]
pomegranate==0.14.9
ipykernel
ipywidgets